.GamesPageContainer {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5vh;
}

.GamesBoxContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  
}

.GamesLogo {
  margin-bottom: 5vh;
}